.main_chat
  .group-info
    .group-info__box
      %h2.group-info__box__group-name
        グループネーム

      %ul.group-info__box__member-list
        Member :
        %li.group-info__box__member-list--menber
          いいいいい
        %li.group-info__box__member-list--menber
          あああああ  

    = link_to "#", class: "edit" do
      .group-info__edit
        Edit
        
  .message-lists
    .message
      .message__info
        %p.message__info__name
          太郎
        %p.message__info__date
          2020年4月

      %p.message__text
        aaaaa

  .message-form
    %form.new-message
      .message-box
        %input{type: "text", class: "message-box__text", placeholder: "type a message"}
        %label{class: "message-box__image"}
          = icon("fas", "image")
          %input{type: "file", class: "message-box__image--file"} 

      %input{type: "submit", class: "submit-btn", value: "Send"}
