.main_chat
  .group-info
    .group-info__box
      %h3.group-info__box__group-name
        グループネーム
      %p.group-info__box__member-name
        チームメンバ
        aaaaaaaa
        aaaaaaaaaa
    .group-info__edit
      = link_to "#", class: "edit" do
        Edit
  .message-lists
    .message
      .message__info
        %p.message__info__name
          太郎
        %p.message__info__date
          2020年4月
      %p.message__text
        aaaaa

  .message-form