.message
  .message__info
    .message__info__name
      = message.user.name
    .message__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message__chat
    - if message.chat_message.present?
      %p.message__chat__text
        = message.chat_message
    = image_tag message.chat_image.url, class: "message__chat__image" if message.chat_image.present?