$whitecolor: #ffffff;
$yoko: flex;

.wrapper {
  height: 100vh;
  display: $yoko;

  .side_bar {
    width: 300px;

    .header {
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: $yoko;
      align-items: center;

      &__user-box {
        height: 20px;
        width: 100%;
        display: $yoko;
        justify-content: space-between;
        line-height: 16px;

        &--name {
          font-size: 16px;
          color: $whitecolor;
          font-weight: bold;
        }

        &__menu {
          width: 60px;
          display: $yoko;
          justify-content: flex-end;

          li {
            margin-left: 5px;

          }
          a {
            color: $whitecolor;

          }
        }
      } 
    }
   
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px;

      .group {
        margin-bottom: 40px;

        &__group-box {
          display: block;
          font-weight: bold;
          text-decoration: none;
          color: $whitecolor;
          
          &__name {
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__message {
            font-size: 11px;
          

          }
        }
      
      }
    }
  }





  .main_chat {
    background-color: $whitecolor;
    height: 100%;
    width: calc(100vw - 300px);

    .group-info {
      height: 100px;
      padding: 0 40px;
      display: $yoko;
      justify-content: space-between;

      &__box {
        padding-top: 35px;
        &__group-name {
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }

        &__member-list {
          color: #999999;
          font-size: 12px;
          display: $yoko;

          li {
            font-size: 12px;
            padding-left: 6px;
          }
        }
      }
      a {
        text-decoration: none;
        height: 38px;
        line-height: 38px;
        margin-top: 28px;
        border: 1px solid #38aef0;
        padding: 0 20px;
        color: #38aef0;
        font-size: 16px;
      }
    }
    .message-lists {
      height: calc(100% - 100px - 90px);
      background-color: #fafafa;
      padding: 38px 40px;

      .message {
        margin-bottom: 46px;

        .message__info {
          margin-bottom: 12px;
          display: $yoko;

          &__name {
            color: #333333;
            font-size: 16px;
            margin-right: 10px;
            font-weight: bold;
          }

          &__date {
            color: #999999;
            font-size: 12px;
          }
        }

        .message__text {
          color: #434a54;
          font-size: 14px;
        }
      }
    }
    .message-form {
      height: 90px;
      background-color: #d2d2d2;
      padding: 20px 40px;

      form {
        display: $yoko;
        .message-box {
          width: 100%;
          display: $yoko;
          position: relative;

          &__text {
            width: 100%;
            height: 50px;
            padding: 0 10px;
          }

          &__image {
            font-size: 30px;
            position: absolute;
            right: 10px;
            top: 4px;
            cursor: pointer;

            &--file {
              display: none;
            }
          }
        }
      
        .submit-btn {
          width: 100px;
          margin-left: 15px;
          background-color: #38aef0;
          color: $whitecolor;
          cursor: pointer;
        }
      }
    }
  }
}