.wrapper {
  height: 100vh;
  display: flex;
  .side_bar {
    height: 100%;
    width: 300px;
    .header {
      background-color: #253141;
      height: 100px;
      width: 100%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      &__user-box {
        height: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 16px;
        &--name {
          font-size: 16px;
          color: #ffffff;
          font-weight: bold;
        }
        &__menu {
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li {
            margin-left: 5px;
          }
          a {
            color: #ffffff;
          }
        }
      } 
    }
   
    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px;
      .group {
        margin-bottom: 40px;
        color: #fff;
        text-decoration: none;
        display: block;
      &__name {
        margin-bottom: 5px;
        font-size: 15px;
        }
      &__message {
        font-size: 11px;
       }
      }
    }
  }





  .main_chat {
    background-color: #ffffff;
    height: 100%;
    width: calc(100vw - 300px);
    .group-info {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      &__box {
        padding-top: 35px;
        &__group-name {
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__member-name {
          color: #999999;
          font-size: 12px;
        }
      }
      &__edit {
        margin-top: 35px;
        .edit {
          border: 1px solid #38aef0;
          padding: 13px 20px;
          text-decoration: none;
          color: #38aef0;
          font-size: 16px;
        }
      }
    }
    .message-lists {
      height: calc(100% - 100px - 90px);
      background-color: #fafafa;
    }
    .message-form {
      height: 90px;
      background-color: #d2d2d2;
    }
  }
}